@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #591741, #3f1c65);
  --foreground: #FFFFFF;
  --font-lato: var(--font-lato);
  --font-orbitron: var(--font-orbitron);
};

body {
  color: var(--foreground);
  font-family: var(--font-lato), sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--background);
  background-attachment: fixed; 
}
